
<h2>{{title}}</h2>
<div style="background-color: greenyellow; max-width: 50%; margin: 10px; padding: 10px;">
  <app-scenario1></app-scenario1>
</div>
<div style="background-color: rgb(122, 210, 236); max-width: 50%; margin: 10px; padding: 10px;">
  <app-scenario2></app-scenario2>
</div>
<div style="background-color: rgb(216, 176, 221); max-width: 50%; margin: 10px; padding: 10px;">
 <app-scenario3-parent> </app-scenario3-parent>
</div>
<div style="background-color: rgb(2, 176, 221); max-width: 50%; margin: 10px; padding: 10px;">
  <app-scenario4> </app-scenario4>
 </div>
 <div style="background-color: rgb(245, 140, 121); max-width: 50%; margin: 10px; padding: 10px;">
  <app-scenario5-gp> </app-scenario5-gp>
 </div>
 <div style="background-color: rgb(31, 86, 238); max-width: 50%; margin: 10px; padding: 10px;">
  <app-scenario6p> </app-scenario6p>
 </div>
<router-outlet></router-outlet>